*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #afc1d6;
    color: #343638;
}

.List{
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}

@media screen and (min-width: 768px) {
    .List{
        grid-template-columns: repeat(3,1fr);
    }
}

.PRCard{
    background: white;
    border-radius: 1rem;
    padding: 2rem;
    line-height: 2em;
    opacity: 80%;
}

.PRCard h5{
    color: #494B51;
}

.PRCard:hover {
    border: 8px solid black;
    background-color: blue;
    opacity: 100%;
}
